@model ATSManagement.ViewModels.LegalStudiesDraftingModel

@{
    ViewData["Title"] = "Create";
}

<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title">
                        Your Requests
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Page body -->
    <div class="page-body">
        <div class="container-xl">
            <div class="row row-cards">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Create</h4>
                        </div>
                        <form asp-action="Create">
                            <div class="card-body">
                                <div class="row">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="mb-3 row">
                                        <label asp-for="RequestDetail" class=" col-2 col-form-label">Request Detail Detail</label>
                                        <div class="col">
                                            <input asp-for="RequestDetail" class="form-control" />
                                            <span asp-validation-for="RequestDetail" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label asp-for="InistId" class=" col-2 col-form-label">Institution</label>
                                        <div class="col">
                                            <select asp-for="InistId" class="form-control" asp-items="ViewBag.InistId"></select>
                                            <span asp-validation-for="InistId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label asp-for="RequestedBy" class=" col-2 col-form-label">Requested by</label>
                                        <div class="col">
                                            <select asp-for="RequestedBy" class="form-control" asp-items="ViewBag.RequestedBy"></select>
                                            <span asp-validation-for="RequestedBy" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label asp-for="CreatedDate" class=" col-2 col-form-label">Creation Date</label>
                                        <div class="col">
                                            <input asp-for="CreatedDate" class="form-control" />
                                            <span asp-validation-for="CreatedDate" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label asp-for="CreatedBy" class=" col-2 col-form-label">Created by</label>
                                        <div class="col">
                                            <input asp-for="CreatedBy" class="form-control" />
                                            <span asp-validation-for="CreatedBy" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label asp-for="DepId" class=" col-2 col-form-label">Responsible Department</label>
                                        <div class="col">
                                            <select asp-for="DepId" class="form-control" asp-items="ViewBag.DepId"></select>
                                            <span asp-validation-for="DepId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label asp-for="CaseTypeId" class=" col-2 col-form-label">Casy type</label>
                                        <div class="col">
                                            <select asp-for="CaseTypeId" class="form-control" asp-items="ViewBag.CaseTypeId"></select>
                                            <span asp-validation-for="CaseTypeId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label asp-for="AssignedBy" class=" col-2 col-form-label">Assigned by</label>
                                        <div class="col">
                                            <select asp-for="AssignedBy" class="form-control" asp-items="ViewBag.AssignedBy"></select>
                                            <span asp-validation-for="AssignedBy" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label asp-for="AssignedDate" class=" col-2 col-form-label">Assignation date</label>
                                        <div class="col">
                                            <input asp-for="AssignedDate" class="form-control" />
                                            <span asp-validation-for="AssignedDate" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label asp-for="DueDate" class=" col-2 col-form-label">Due date</label>
                                        <div class="col">
                                            <input asp-for="DueDate" class="form-control" />
                                            <span asp-validation-for="DueDate" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label asp-for="AssingmentRemark" class=" col-2 col-form-label">Assignment Remark </label>
                                        <div class="col">
                                            <input asp-for="AssingmentRemark" class="form-control" />
                                            <span asp-validation-for="AssingmentRemark" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label asp-for="AssignedTo" class=" col-2 col-form-label">Assigned to</label>
                                        <div class="col">
                                            <select asp-for="AssignedTo" class="form-control" asp-items="ViewBag.AssignedTo"></select>
                                            <span asp-validation-for="AssignedTo" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label asp-for="ProgressStatus" class=" col-2 col-form-label">Progress statu</label>
                                        <div class="col">
                                            <input asp-for="ProgressStatus" class="form-control" />
                                            <span asp-validation-for="ProgressStatus" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label asp-for="IsUpprovedByUser" class=" col-2 col-form-label">Is Uproved by user </label>
                                        <div class="col">
                                            <input asp-for="IsUpprovedByUser" class="form-control" />
                                            <span asp-validation-for="IsUpprovedByUser" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label asp-for="IsUprovedByTeam" class=" col-2 col-form-label">Is Uproved by team</label>
                                        <div class="col">
                                            <input asp-for="IsUprovedByTeam" class="form-control" />
                                            <span asp-validation-for="IsUprovedByTeam" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label asp-for="IsUprovedByDeputy" class=" col-2 col-form-label">Is Uproved by Deputy</label>
                                        <div class="col">
                                            <input asp-for="IsUprovedByDeputy" class="form-control" />
                                            <span asp-validation-for="IsUprovedByDeputy" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label asp-for="TopStatus" class=" col-2 col-form-label">Final status</label>
                                        <div class="col">
                                            <input asp-for="TopStatus" class="form-control" />
                                            <span asp-validation-for="TopStatus" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-end">
                                <div class="d-flex">
                                    <input type="submit" value="Create" class="btn btn-primary" />|
                                    <a asp-action="Index">Back to List</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let options = {
                selector: '#RequestDetail',
                height: 300,
                menubar: true,
                statusbar: false,
                plugins: [
                    'advlist autolink lists link image charmap print preview anchor',
                    'searchreplace visualblocks code fullscreen',
                    'insertdatetime media table paste code help wordcount',
                    'lists'
                ],
                toolbar: 'undo redo | formatselect | ' +
                    'bold italic backcolor | alignleft aligncenter ' +
                    'alignright alignjustify | bullist numlist outdent indent | ' +
                    'removeformat',
                content_style: 'body { font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif; font-size: 14px; -webkit-font-smoothing: antialiased; }'
            }
            if (localStorage.getItem("tablerTheme") === 'dark') {
                options.skin = 'oxide-dark';
                options.content_css = 'dark';
            }
            tinyMCE.init(options);
        })
    </script>
}
