@model ATSManagement.ViewModels.SendModel
@using ATSManagement.Services;
@inject LanguageService _localization
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Send final report";
}
<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title">
                        Send final report
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="page-body">
        <div class="container-xl">
            <div class="row row-cards">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Send</h4>
                        </div>
                        <form asp-action="SendToInstitution" method="post" enctype="multipart/form-data">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <input type="hidden" asp-for="RequestId" />
                                        <div class="mb-3 row">
                                            <label class="col-3 col-form-label">Letter of Upproval</label>
                                            <div class="col">
                                                <input asp-for="ApprovalLetter" type="file" class="form-file-button" />
                                                <span asp-validation-for="ApprovalLetter" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-3 col-form-label">Final report</label>
                                            <div class="col">
                                                <input asp-for="FinalReport" type="file" class="form-file-button" />
                                                <span asp-validation-for="FinalReport" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-3 col-form-label">Remark</label>
                                            <div class="col">
                                                <input asp-for="SendingRemark" class="form-control" />
                                                <span asp-validation-for="SendingRemark" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-end">
                                <div class="d-flex">
                                    <input type="submit" value="Upload" class="btn btn-primary" />|
                                    <a asp-action="Index">Back to List</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
