@model ATSManagement.ViewModels.CivilJusticeExternalRequestModel

@{
    ViewData["Title"] = "Uppdate progress status";
}
<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title">
                        Uppdate progress status
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Page body -->
    <div class="page-body">
        <div class="container-xl">
            <div class="row row-cards">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Uppdate</h4>
                        </div>
                        <form asp-action="UppdateDesicionStatus" method="post" enctype="multipart/form-data">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <input type="hidden" asp-for="RequestId" />
                                        <div class="mb-3 row">
                                            <label class="col-3 col-form-label">Title</label>
                                            <div class="col">
                                                @Html.Raw(Model.RequestDetail)
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-3 col-form-label">Status</label>
                                            <div class="col">
                                                @Html.DropDownListFor(model => model.DesStatusId, new SelectList(Model.DesicionStatus, "Value", "Text"), htmlAttributes: new { @class = "form-select" })
                                                <span asp-validation-for="DesStatusId" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="mb-3 row" id="divIsDeputyNeeded" style="display:@ViewBag.visible">
                                            <label class="col-3 col-form-label">Is Depute upproval needed?</label>
                                            <div class="col">
                                                <input asp-for="IsDeputyApprovalNeeded" class="form-check-input m-0" type="checkbox" />
                                                <span asp-validation-for="IsDeputyApprovalNeeded" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-end">
                                <div class="d-flex">
                                    <input type="submit" value="Uppdate" class="btn btn-primary" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

