@model ATSManagement.Models.TblAppointment
@using ATSManagement.Services;
@inject LanguageService _localization
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TblAppointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AppointmentId" />
            <div class="form-group">
                <label asp-for="AppointmentDetail" class="col-3 col-form-label"></label>
                <input asp-for="AppointmentDetail" class="form-control" />
                <span asp-validation-for="AppointmentDetail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InistId" class="col-3 col-form-label"></label>
                <select asp-for="InistId" class="form-control" asp-items="ViewBag.InistId"></select>
                <span asp-validation-for="InistId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequestedBy" class="col-3 col-form-label"></label>
                <select asp-for="RequestedBy" class="form-control" asp-items="ViewBag.RequestedBy"></select>
                <span asp-validation-for="RequestedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescusionFinalComeup" class="col-3 col-form-label"></label>
                <input asp-for="DescusionFinalComeup" class="form-control" />
                <span asp-validation-for="DescusionFinalComeup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="col-3 col-form-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppointmentDate" class="col-3 col-form-label"></label>
                <input asp-for="AppointmentDate" class="form-control" />
                <span asp-validation-for="AppointmentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

