@using Newtonsoft.Json;
@using ATSManagementExternal.ViewModels;
@using Microsoft.AspNetCore.Http;
@using ATSManagementExternal.Services;
@inject LanguageService _localization
@inject IHttpContextAccessor _context;
@{
    ViewData["Title"] = "Task Tracking Dashboard";
}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
        <h1>Welcome to Ministry of Justice</h1>
        <h2>We are team of talented designers making websites with Bootstrap</h2>
        <a href="#about" class="btn-get-started scrollto">Get Started</a>
    </div>
</section><!-- End Hero -->

<section id="about" class="about" style="background: #f6f9fd">
    <div class="container" style="background:#fff">

        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
                <img src="assets/img/Temoty.jpeg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
                <h3>የፍትህ ሚኒስቴሩ መልዕክት</h3>
                <p class="fst-italic">
                    የክቡር ፍትህ ሚኒስቴሩ ዶክተር ጌዲዮን ጢሞቲዎስ መልዕክት
                </p>
                <ul>
                    <li>
                        <i class="bi bi-check-circle"></i> ፍትህ ሚኒስቴር የሀገራችን የዴሞክራሲና ፍትህ መሰፈን፣ ፈጣንና ቀጣይነት ያለው ልማት እንዲሁም የህዝቡ የላቀ ተጠቃሚነት ያለ ሕግ የበላይነትና የፍትህ ዘርፍ ተግባራዊ እንቅስቃሴ ሊረጋገጥ አይችልም፡፡
                        የአገራችን የፍትህ ዘርፍ ታሪክ ስር በሰደዱ አናቂ የሕግና የአሰራር እንዲሁም የአመለካካት ችግሮች የተተበተበ እና የጉልበተኞች ምርኮኛ እንደነበር ይታወሳል፡፡
                    </li>
                    <li><i class="bi bi-check-circle"></i> በተጀመረው አዲስ የለውጥ ምዕራፍ ተቋማችን የሕግ እና ፍትህ ሪፎርም በማከናወን እንዲሁም የአሰራር ችግሮችን በማሻሻል፣ ከሰብአዊ መብት አኳያ የሕግ ታራሚዎችን አያያዝ በማስተካከል ተቋማዊ አግልግሎትን ቀልጣፋ፣ ፍትሀዊና ውጤታማ የሆኑ የፍትህ ተደራሽነትን በማረጋገጥ ዘርፈ ብዙ መሠረታዊ የለውጥ ተግባራትን አከናውኗል፣በማከናወን ላይም ይገኛል፡፡</li>
                    <li><i class="bi bi-check-circle"></i> ፍትህ ሚኒስቴር በአገራዊ የለውጥ ጉዞ ዳር ለማድረስ በሚደረገው ሰፊና ሁለንተናዊ ርብርብ ምቹ ሁኔታ በመፍጠር በአዋጅ ቁጥር 943/2008 በተሰጠው ስልጣን የፍትህ እና ሕገ መንግስታዊ ሥርዓቱን በማክበርና ማስከበር፣ የሕግ የበላይነትን ማረጋገጥ፣ ፍትህን በማስፈን፣ የዜጎች ሰብአዊና ዴሞክራሲያዊ መብቶች እንዲረጋገጡ ሀገራዊ ተልዕኮውን ከመቸውም ጊዜ በላቀ ደረጃ በመወጣት ላይ ነው፡፡</li>
                    <li><i class="bi bi-check-circle"></i> ተቋሙ የህብረተሰቡን ተሳትፎ በማረጋገጥ የህዝብና የመንግስት አመኔታ የተቸረው ተቋም በመሆን የሀገራችንን ሰላም አስተማማኝና ዘላቂ በማድረግ የተጀመረው የልማት፣ የሰላም፣ የዲሞክራሲ ስርዓት ግንባታ እንዲጎለብት ብሎም የፍትህ ሥርዓትን ግልፅነት፣ ነፃነትና ተጠያቂነት አሰራርን በማሻሻል በርካታ ተግባራት የተከናወኑ ሲሆን በዘላቂነት ለውጡን ለማፋጠን የነቃና የተጠናከረ የህዝብ እና የባለድርሻ አካላት ተሳትፎ ከመቸውም ጊዜ በላይ ያስፈልጋል፡፡ ፍትህ የምርጫ ጉዳይ ሳይሆን የህልውና መሰረት ነው፡፡</li>
                    <li>
                        <i class="bi bi-check-circle"></i>     ፍትህ የምክንያታዊነትና የእውነት ማንፀባረቂያ ሲሆን የሕግ የበላይነትን በማክበርና በማስከበር አገራችን በሁሉም መስክ የተለወጠችና የበለጸገች፣ የዴሞክራሲና የፍትህ ተምሳሌት እንድትሆን ለማድረግ በሚከናውኑ ተግባራት ላይ መላው የአገራችን ህዝብ ከጎናችን በመቆም የሕግ የበላይነትን በማስፈንና ተቋማዊ ለውጡን ለማረጋገጥ በምንሰራው ስራ በባለቤትነት ንቁ ተሳትፎ በማድረግ የለውጡ ፈፃሚና ዋና ተዋናኝ እንድትሆኑ መልዕክቴን አስተላልፋለሁ፡፡
                    </li>

                </ul>
            </div>
        </div>

    </div>
</section><!-- End About Section -->
<!-- ======= Why Us Section ======= -->
<section id="why-us" class="why-us" style="background: #f6f9fd">
    <div class="container" style="background:#fff">
        <div class="section-title">
            <span>የኢ.ፌ.ዲ.ሪ ፍትሕ ሚኒስቴር ራዕይ፣ተልዕኮና እሴቶች</span>
            <h2>የኢ.ፌ.ዲ.ሪ ፍትሕ ሚኒስቴር ራዕይ፣ተልዕኮና እሴቶች</h2>
            <p>የኢ.ፌ.ዲ.ሪ ፍትሕ ሚኒስቴር ራዕይ፣ተልዕኮና እሴቶች</p>
        </div>
        <div class="row">
            <div class="col-lg-4" data-aos="fade-up">
                <div class="box">
                    <span>ራዕይ</span>
                    <p>በ2022 የአፍሪካ የፍትሕ ተቋማት ተምሳሌት ሆኖ ማየት</p>
                </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="150">
                <div class="box">
                    <span>ተልዕኮ</span>
                    <p>የህግ የበላይነትንና ሰብዓዊ መብትን በማክበርና በማስከበር፤ ወንጀልን በመከላከል፣ ሰላምና ደህንነት በማረጋገጥና የመንግስትንና የህዝብን ጥቅም በማስጠበቅ፤ የሕዝብ ዓመኔታ ያተረፈ ተደራሽ፣ ቀልጣፋ፣ ፍትሃዊና ውጤታማ የፍትህ አገልግሎት መስጠት፡፡</p>
                </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
                <div class="box">
                    <span>እሴቶች</span>
                    <p>
                        ሰብዓዊ ክብር
                        የሕግ የበላይነት
                        ታማኝነት
                        ተጠያቂነትና ግልጽነት
                        ሙያዊ ብቃት/ፕሮፌሽናሊዝም/
                        ትብብርና አጋርነት
                        ፍትሐዊነት
                    </p>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Why Us Section -->

<section id="services" class="services" style="background: #f6f9fd">
    <div class="container" style="background:#fff">

        <div class="section-title">
            <span>Services</span>
            <h2>Services</h2>
            <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                <div class="icon-box">
                    <div class="icon"><i class="bx bxl-dribbble"></i></div>
                    <h4><a href="">Lorem Ipsum</a></h4>
                    <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="150">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4><a href="">Sed ut perspiciatis</a></h4>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-tachometer"></i></div>
                    <h4><a href="">Magni Dolores</a></h4>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="450">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-world"></i></div>
                    <h4><a href="">Nemo Enim</a></h4>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="600">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-slideshow"></i></div>
                    <h4><a href="">Dele cardo</a></h4>
                    <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="750">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-arch"></i></div>
                    <h4><a href="">Divera don</a></h4>
                    <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Services Section -->
<!-- ======= Cta Section ======= -->
<section id="cta" class="cta" style="background: #f6f9fd">

    <div class="container" data-aos="zoom-in" style="background:#fff">

        <div class="text-center">
            <h3>Call To Action</h3>
            <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <a class="cta-btn" href="#">Call To Action</a>
        </div>

    </div>
</section>

<section id="pricing" class="pricing">
    <div class="container">
        <div class="section-title">
            <span>Pricing</span>
            <h2>Pricing</h2>
            <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
        </div>

        <div class="row">

            <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="150">
                <div class="box">
                    <h3>Free</h3>
                    <h4><sup>$</sup>0<span> / month</span></h4>
                    <ul>
                        <li>Aida dere</li>
                        <li>Nec feugiat nisl</li>
                        <li>Nulla at volutpat dola</li>
                        <li class="na">Pharetra massa</li>
                        <li class="na">Massa ultricies mi</li>
                    </ul>
                    <div class="btn-wrap">
                        <a href="#" class="btn-buy">Buy Now</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-4 mt-md-0" data-aos="zoom-in">
                <div class="box featured">
                    <h3>Business</h3>
                    <h4><sup>$</sup>19<span> / month</span></h4>
                    <ul>
                        <li>Aida dere</li>
                        <li>Nec feugiat nisl</li>
                        <li>Nulla at volutpat dola</li>
                        <li>Pharetra massa</li>
                        <li class="na">Massa ultricies mi</li>
                    </ul>
                    <div class="btn-wrap">
                        <a href="#" class="btn-buy">Buy Now</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
                <div class="box">
                    <h3>Developer</h3>
                    <h4><sup>$</sup>29<span> / month</span></h4>
                    <ul>
                        <li>Aida dere</li>
                        <li>Nec feugiat nisl</li>
                        <li>Nulla at volutpat dola</li>
                        <li>Pharetra massa</li>
                        <li>Massa ultricies mi</li>
                    </ul>
                    <div class="btn-wrap">
                        <a href="#" class="btn-buy">Buy Now</a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Pricing Section -->
<!-- ======= Team Section ======= -->
<section id="team" class="team">
    <div class="container">

        <div class="section-title">
            <span>Team</span>
            <h2>Team</h2>
            <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
                <div class="member">
                    <img src="assets/img/team/team-1.jpg" alt="">
                    <h4>Walter White</h4>
                    <span>Chief Executive Officer</span>
                    <p>
                        Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut
                    </p>
                    <div class="social">
                        <a href=""><i class="bi bi-twitter"></i></a>
                        <a href=""><i class="bi bi-facebook"></i></a>
                        <a href=""><i class="bi bi-instagram"></i></a>
                        <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
                <div class="member">
                    <img src="assets/img/team/team-2.jpg" alt="">
                    <h4>Sarah Jhinson</h4>
                    <span>Product Manager</span>
                    <p>
                        Repellat fugiat adipisci nemo illum nesciunt voluptas repellendus. In architecto rerum rerum temporibus
                    </p>
                    <div class="social">
                        <a href=""><i class="bi bi-twitter"></i></a>
                        <a href=""><i class="bi bi-facebook"></i></a>
                        <a href=""><i class="bi bi-instagram"></i></a>
                        <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
                <div class="member">
                    <img src="assets/img/team/team-3.jpg" alt="">
                    <h4>William Anderson</h4>
                    <span>CTO</span>
                    <p>
                        Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                    </p>
                    <div class="social">
                        <a href=""><i class="bi bi-twitter"></i></a>
                        <a href=""><i class="bi bi-facebook"></i></a>
                        <a href=""><i class="bi bi-instagram"></i></a>
                        <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Team Section -->
<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container">

        <div class="section-title">
            <span>Contact</span>
            <h2>Contact</h2>
            <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
        </div>

        <div class="row" data-aos="fade-up">
            <div class="col-lg-6">
                <div class="info-box mb-4">
                    <i class="bx bx-map"></i>
                    <h3>Our Address</h3>
                    <p>A108 Adam Street, New York, NY 535022</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="info-box  mb-4">
                    <i class="bx bx-envelope"></i>
                    <h3>Email Us</h3>
                    <p>contact@example.com</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="info-box  mb-4">
                    <i class="bx bx-phone-call"></i>
                    <h3>Call Us</h3>
                    <p>+1 5589 55488 55</p>
                </div>
            </div>

        </div>

        <div class="row" data-aos="fade-up">

            <div class="col-lg-6 ">
                <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
            </div>

            <div class="col-lg-6">
                <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                        </div>
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                    </div>
                    <div class="form-group mt-3">
                        <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                    </div>
                    <div class="my-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div>
                    <div class="text-center"><button type="submit">Send Message</button></div>
                </form>
            </div>

        </div>

    </div>
</section><!-- End Contact Section -->
