@model ATSManagement.ViewModels.InspectionAssignModel

@{
    ViewData["Title"] = "Adding checklits";
}
<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title">
                        Add evaluation criteria
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Page body -->
    <div class="page-body">
        <div class="container-xl">
            <div class="row row-cards">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Evaluation criteria</h4>
                        </div>
                        <form asp-action="AddCheckList">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-10">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <input type="hidden" asp-for="Id" />
                                        <input type="hidden" asp-for="AssignedBy" />
                                        <div class="mb-4 row">
                                            <label class="col-3 col-form-label">Title</label>
                                            <div class="col">
                                                @Html.DisplayFor(model => model.PlanTitle)
                                            </div>
                                        </div>
                                        <div class="mb-4 row">
                                            <label class="col-3 col-form-label">Evaluation criteria</label>
                                            <div class="col">
                                                <input asp-for="EvaluationCheckLists" type="text" id="checkList" class="form-control" />
                                                <span asp-validation-for="PlanTitle" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-end">
                                <div class="d-flex">
                                    <input type="submit" value="Add" class="btn btn-primary" />|
                                    <a asp-action="Index">Back to List</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let options = {
                selector: '#checkList',
                height: 300,
                menubar: true,
                statusbar: false,
                plugins: [
                    'advlist autolink lists link image charmap print preview anchor',
                    'searchreplace visualblocks code fullscreen',
                    'insertdatetime media table paste code help wordcount',
                    'lists'
                ],
                toolbar: 'undo redo | formatselect | ' +
                    'bold italic backcolor | alignleft aligncenter ' +
                    'alignright alignjustify | bullist numlist outdent indent | ' +
                    'removeformat',
                content_style: 'body { font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif; font-size: 14px; -webkit-font-smoothing: antialiased; }'
            }
            if (localStorage.getItem("tablerTheme") === 'dark') {
                options.skin = 'oxide-dark';
                options.content_css = 'dark';
            }
            tinyMCE.init(options);
        })
    </script>
}