@model ATSManagement.ViewModels.LoginModels
@{
    Layout = null;
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>ATS Login</title>
    <!-- CSS files -->
    <link href="~/dist/css/tabler.min.css?1684106062" rel="stylesheet" asp-append-version="true" />
    <link href="~/dist/css/tabler-flags.min.css?1684106062" rel="stylesheet" asp-append-version="true" />
    <link href="~/dist/css/tabler-payments.min.css?1684106062" rel="stylesheet" asp-append-version="true" />
    <link href="~/dist/css/tabler-vendors.min.css?1684106062" rel="stylesheet" asp-append-version="true" />
    <link href="~/dist/css/demo.min.css?1684106062" rel="stylesheet" asp-append-version="true" />
    <style>
        @@import url('https://rsms.me/inter/inter.css');

        :root {
            --tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
        }

        body {
            font-feature-settings: "cv03", "cv04", "cv11";
        }
    </style>
</head>
<body class=" d-flex flex-column">
    <script src="/dist/js/demo-theme.min.js?1684106062"></script>
    <div class="page page-center">
        <div class="container container-normal py-4">
            <div class="row align-items-center g-4">
                <div class="col-lg">
                    <div class="container-tight">
                        <div class="text-center mb-4">
                            <a href="." class="navbar-brand navbar-brand-autodark"><img src="~/dist/img/main_logo.png" style="width:300px; height:200px; object-fit:cover" alt=""></a>
                        </div>
                        <div class="card card-md">
                            <div class="card-body">
                                <h2 class="h2 text-center mb-4">Login to your account</h2>
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <form asp-action="Login" method="post" asp-antiforgery="true">
                                    <div class="mb-3">
                                        <label asp-for="LangId" class="form-label">Language</label>
                                        <div class="col">
                                            @Html.DropDownListFor(model => model.LangId, new SelectList(Model.Languages, "Value", "Text"), new { @class = "form-select" })
                                            <span asp-validation-for="LangId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Email address</label>
                                        <input asp-for="UserName" class="form-control" placeholder="username" />
                                        <span asp-validation-for="UserName" class="text-danger"></span>
                                    </div>

                                    <div class="mb-2">
                                        <label class="form-label">
                                            Password
                                        </label>
                                        <div class="input-group input-group-flat">
                                            <input asp-for="Password" class="form-control" placeholder="password" autocomplete="off" id="myInput" type="password" />                                           
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="mb-2">
                                        <label class="form-check">
                                            <input type="checkbox" class="form-check-input" onclick="myFunction()">
                                            <span class="form-check-label">Show Password</span>
                                        </label>
                                    </div>
                                    <div class="form-footer">
                                        <button type="submit" class="btn btn-primary w-100">Sign in</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg d-none d-lg-block">
                    <img src="/static/illustrations/undraw_secure_login_pdn4.svg" height="300" class="d-block mx-auto" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Libs JS -->
    <!-- Tabler Core -->
    <script src="~/dist/js/tabler.min.js?1684106062" defer asp-append-version="true"></script>
    <script src="~/dist/js/demo.min.js?1684106062" defer asp-append-version="true"></script>
    <script src="~/Scripts/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    @await Component.InvokeAsync("NToastNotify")
    @await Component.InvokeAsync("Notyf")
    <script>
        function myFunction() {
            var x = document.getElementById("myInput");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script>
</body>
