@model ATSManagement.Models.TblLegalAdviceReport
@using ATSManagement.Services;
@inject LanguageService _localization
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "የረቂቅ ውል ምርመራ/ዝግጅት አፈፃፀም ሪፖርት";
}

<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title">
                        የረቂቅ ውል ምርመራ/ዝግጅት አፈፃፀም ሪፖርት
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">
                    የረቂቅ ውል ምርመራ/ዝግጅት አፈፃፀም ሪፖርት
                </h4>
            </div>
            <form asp-action="Edit">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="ReportId" />
                            <div class="mb-2 row">
                                <label asp-for="Amount" class="col-3 col-form-label">መጠን</label>
                                <div class="col">
                                    <input asp-for="Amount" type="number" class="form-control" />
                                    <span asp-validation-for="Amount" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-2 row">
                                <label asp-for="Investigation" class="col-3 col-form-label">ምርመራ</label>
                                <div class="col">
                                    <input asp-for="Investigation" type="number" class="form-control" />
                                    <span asp-validation-for="Investigation" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-2 row">
                                <label asp-for="Month" class="col-3 col-form-label">ወር</label>
                                <div class="col">
                                    <select asp-for="Month" class="form-select" asp-items="ViewBag.Month"></select>
                                </div>
                            </div>
                            <div class="mb-2 row">
                                <label asp-for="Year" class="col-3 col-form-label">ዓመት</label>
                                <div class="col">
                                    <select asp-for="Year" class="form-select" asp-items="ViewBag.Year"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-end">
                    <div class="d-flex">
                        <input type="submit" value="Create" class="btn btn-primary" />|
                        <a asp-action="Index">Back to List</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



