@model ATSManagement.Models.TblCivilJusticeRequestReply
@using ATSManagement.Services;
@inject LanguageService _localization
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TblCivilJusticeRequestReply</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ReplyId" />
            <div class="form-group">
                <label asp-for="ReplayDetail" class="col-2 col-form-label"></label>
                <input asp-for="ReplayDetail" class="form-control" />
                <span asp-validation-for="ReplayDetail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequestId" class="col-2 col-form-label"></label>
                <select asp-for="RequestId" class="form-control" asp-items="ViewBag.RequestId"></select>
                <span asp-validation-for="RequestId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InternalReplayedBy" class="col-2 col-form-label"></label>
                <select asp-for="InternalReplayedBy" class="form-control" asp-items="ViewBag.InternalReplayedBy"></select>
                <span asp-validation-for="InternalReplayedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReplyDate" class="col-2 col-form-label"></label>
                <input asp-for="ReplyDate" class="form-control" />
                <span asp-validation-for="ReplyDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExternalReplayedBy" class="col-2 col-form-label"></label>
                <select asp-for="ExternalReplayedBy" class="form-control" asp-items="ViewBag.ExternalReplayedBy"></select>
                <span asp-validation-for="ExternalReplayedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
